{% extends 'base.html' %}


{% block content %}
<div class="container"><br>
        <h2>Daftar Mahasiswa</h2>
        <hr>

        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Nama Lengkap</th>
                    <th>NIM</th>
                </tr>
            </thead>
            <tbody>
                {% for student in student_list %}

                    <tr>
                    <td>{{student.name}}</td>
                    <td>{{student.number}}</td>
                    {% csrf_token %}
                    <td><a class="btn btn-info" href="{% url 'update_student' student.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'delete_student' student.id %}">Hapus</a>
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
        <a class="btn btn-primary" href="{% url 'insert_student' %}">Tambah Data</a>
        <hr>
    </div>

{% endblock content %}

